{% extends 'home/base.html' %}

{% block title %} About {% endblock %} | {{app_name}}

{% block style %}
<link rel="stylesheet" href="{{home_theme_server}}/css/about.css?v=1">
  <style>
    

  </style>
{% endblock %}


{% block maincontent %}
    <!-- Wrapper-->
    <div class="wrapper">

      <section class="about-section position-relative text-white ">
        <div class="glass-box">
          <h1 class='brush-font display-3 text-light'>ABOUT ME</h1>

        </div>
      </section>

      <br><br>
      <section class="intro-section text-center">
        <div class="container">
          <div class="title-wrapper position-relative">
            <h1 class="bg-text">HEY</h1>
            <h2 class="fg-text">
              I’m <span class="highlight">UMME MAISUN</span>
            </h2>
          </div>

          <div class="intro-card">
            <p>
              Many know me as an educational content creator who makes English a tad bit easier to learn. 
              My goal is simple, make learning less intimidating and more empowering, because there is no limit 
              to learning. The more you know—the more powerful you are.
            </p>
            <p>
              Through my content, I aim to break down complex concepts into simple practical lessons that anyone 
              can understand—regardless of their background or starting point. Whether its grammar, vocabulary or 
              real-life communication skills, I believe in teaching with clarity, empathy, and a touch of creativity.
            </p>
            <p>
              My mission is to bridge that gap by offering lessons that are not only informative but also relatable 
              and engaging. I want learners to feel seen, heard, and capable.
            </p>
            <p>
              Because learning doesn’t have to be scary.<br>
              It doesn’t have to be boring.<br>
              And it certainly doesn’t have to feel like a solo journey.
            </p>
          </div>
        </div>
      </section>

      <br><br><br>
      <section class="journey-section position-relative py-5">
        <div class="container position-relative">

          <h1 class="journey-bg-text">JOURNEY</h1>

          <div class="row align-items-center">
            <div class="col-lg-7">
              <h2 class="h3 mb-3">How did it <span class="brush_script_font">START?</span></h2>

            <p>
              My journey with English began long before I ever thought of teaching it. 
              I didn’t grow up with a fancy tutor or formal training—I started learning on my own. Watching different videos, reading all the books 
              I could get my hands on, and practicing constantly, I slowly began to adapt and grow more confident in the language. 
              It wasn’t always easy, but it was always worth it. Bit by bit, I discovered that English didn’t have to be intimidating—it could actually be 
              fun, creative, and empowering. Then came 2020. During the pandemic, like many others, I found myself indoors with more time and a growing 
              desire to share what I’d learned. 
              That’s when I published my very first video on 10 Minute School, titled “How to Introduce yourself easily.”
              </p>
              <br>
              <p>
                It was simple, practical, and a little playful—I used Barbie dolls to 
                demonstrate a conversation between two people! And just like that, something clicked. I realized I could take what I’d 
                taught myself and turn it into content that could help others learn too. That was the beginning. 
              </p>
              <br>
              <p>
                What started as a solo journey turned into a mission—to make English learning less scary and a lot more doable for everyone. 
              </p>
            </div>

            <div class="col-lg-5">
              <div class="image-frame">
                <img src="{{home_theme_server}}/images/journey-top.jpg" alt="Journey main" class="img-main">
                <img src="{{home_theme_server}}/images/journey-bottom.jpg" alt="thumb" class="img-thumb">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="achievements-section text-center text-white position-relative">
        <div class="container">
          <h2 class="mb-4">
            Achievements <span class="brush_script_font">SO FAR!</span>
          </h2>

          <div class="achievement-image-wrapper">
            <img src="{{home_theme_server}}/images/achievement-about.jpg" alt="Achievements Background" class="achievement-bg-image">

            <div class="achievement-glass-box">
              <p>
                As someone who has been making content for a while now, I have had my fair amount of achievements 
                that have immensely helped in growing my fan base and recognition. One of the most memorable 
                moments in my journey came in November 2023, when I received an award at the Marvel Award Show 
                for inspiring children through educational content. It was more than just a trophy—it was a symbol 
                of the impact my work had made and the lives it had touched.
              </p>
              <p>
                Standing on that stage, surrounded by bright lights and supportive faces, I felt something I’ll 
                never forget. A mix of pride, gratitude, and disbelief washed over me. I thought back to those 
                early days of learning English alone, practicing with books and videos, and making my very first 
                video with Barbie dolls. And there I was—being honored for the very thing that once felt like just a dream.
              </p>
              <p>
                Along with the marvel award I received another award at the “emerging women award 2023” in the 
                category “Next Gen Leader”. After years of hard work and countless brainstorming to make the perfect 
                videos to help people, getting this award that labels me as the next gen leader felt like a rush 
                of confidence to keep making videos.
              </p>
              <p>
                And just when I thought the journey couldn’t get more surreal, it did.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="goals-section position-relative">
      
        <h2 class="goals-bg-text">GOALS</h2>

        <div class="container ">
          <h2 class="text-center">
            Goals for the <span class='brush_script_font'>UPCOMING FUTURE</span>
          </h2>
          <br>
          <div class="row align-items-left">

            <div class="col-md-5 col-12 mb-3 mb-md-0">
              <img src="{{home_theme_server}}/images/goals-bg.jpg" alt="Goals Image" class="img-fluid rounded shadow">
            </div>

      
            <div class="col-md-7 col-12">
              <p>
              Every person has a certain goal planned in their own ways—a plan they 
              will execute that will enrich their lives so they can live out their dream. 
              And just like that, I also have many goals that I want to act out not only to benefit myself, 
              but also my community which is suffering from many unspoken disadvantages. 
              </p>
              <p>
                Looking ahead, one of the causes closest to my heart is women’s menstrual hygiene. 
                It’s a topic that’s often silenced or brushed aside in many communities, yet it affects millions of women every single day. 
                I want to break that silence. I aim to create awareness, encourage open conversations, 
                and ensure access to hygienic menstrual products—especially for girls and women in underprivileged areas. 
                Because no one should have to miss school, 
                work, or life simply because of something as natural as their period.
              </p>
            
            </div>
            <div class=" col-12">
              
              <p>
                Another major goal I’m passionate about is making education accessible to everyone, regardless of their 
                financial background, location, or resources. Education changed my life—it gave me a voice, a platform, and a purpose. 
                I believe it has the power to transform lives, but only if it’s within reach. Through digital content, 
                community programs, and collaboration with educational platforms, 
                I hope to break down barriers and bring quality learning to the doorsteps of those who need it most.
              </p>
              <p>
                These goals are not just dreams—they are missions. Missions that I carry with me in every video I make, 
                every word I write, and every project I take on. 
                Because true success isn’t just about rising—it's about lifting others as you rise.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="tedx-section py-5">
        <div class="container text-center mb-4">
          <h2>
            Featured on <span class="brush_script_font">TEDx</span>
          </h2>
        </div>

        <div class="container">
          <div class="tedx-card position-relative">
            <!-- Background Image -->
            <img src="{{home_theme_server}}/images/ted_x.jpg" 
                alt="TEDx Speech" 
                class="tedx-bg img-fluid">

            <!-- Overlay for text -->
            <div class="tedx-overlay">
              <div class="tedx-text p-4">
                <p>
                  <strong>Along my achievements</strong>, I also got the chance to speak at a
                  renowned event. I was chosen as a speaker for the TEDxDaffodilU
                  event, hosted at Daffodil University. It was a surreal moment to be
                  surrounded by youthful faces that wanted to learn something from me
                  and who were interested to know my side of the story.
                </p>
                <p>
                  My goal was simple—I wanted to teach them something from my story
                  and in return learn something from them too. I spoke about the
                  language that gave me a voice and while everyone was listening to
                  me, I had the time to observe how far I have really come.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
          
    </div>
    <!-- Wrapper end-->
{% endblock %}

{% block script %}
  <script>
     $(".about-menu").addClass("header-border");
    setTimeout(function() {
      $(".about-menu").addClass("active");
    }, 100);
     

  </script> 
{% endblock %}
