{% extends 'home/base.html' %}

{% block title %} Travel With Me {% endblock %} | {{app_name}}

{% block style %}
<link rel="stylesheet" href="{{home_theme_server}}/css/travel.css?v=1">
  <style>
    

  </style>
{% endblock %}


{% block maincontent %}
    <!-- Wrapper-->
    <div class="wrapper">

      <section class="travel-section position-relative text-white ">
       
      </section>
      <br><br><br>
        <section class="blog-section">
            <h1 class="travel-bg">TRAVEL</h1>
            <h2 class="with-me">with <span class="brush_script_font">ME</span></h2>

            <div class="container">
                <div class="row g-4">

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card blog-card">
                            <div class="image-wrapper">
                                <img src="{{home_theme_server}}/images/travel-blog1.png" alt="Malaysia to Thailand Flight" />
                                <div class="play-btn-bg">
                                    <div class="play-btn">
                                        <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5>Malaysia to Thailand Flight</h5>
                                <p>Experience a breathtaking aerial journey from Kuala Lumpur to Bangkok’s Suvarnabhumi Airport.</p>
                                <a href="#" class="read-more">Read More →</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card blog-card">
                            <div class="image-wrapper">
                                <img src="{{home_theme_server}}/images/travel-blog2.png" alt="Biggest Water Park Dubai" />
                                <div class="play-btn-bg">
                                    <div class="play-btn">
                                        <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5>Biggest Water Park in the World | Dubai</h5>
                                <p>Discover Atlantis Aquaventure, the ultimate water adventure with record-breaking slides and scenic views.</p>
                                <a href="#" class="read-more">Read More →</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card blog-card">
                            <div class="image-wrapper">
                                <img src="{{home_theme_server}}/images/travel-blog3.png" alt="Fun Arcade Dubai" />
                                <div class="play-btn-bg">
                                    <div class="play-btn">
                                        <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5>Ultimate Indoor Arcade | Dubai</h5>
                                <p>Step into Dubai’s thrilling arcade world filled with games, lights, and family-friendly fun for all ages.</p>
                                <a href="#" class="read-more">Read More →</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="card blog-card">
                            <div class="image-wrapper">
                                <img src="{{home_theme_server}}/images/travel-blog4.png" alt="Skyline Views Dubai" />
                                <div class="play-btn-bg">
                                    <div class="play-btn">
                                        <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5>Skyline Views of Dubai</h5>
                                <p>Witness the beauty of Dubai’s cityscape — a mesmerizing blend of architecture, lights, and sea views.</p>
                                <a href="#" class="read-more">Read More →</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        
        <section class="reel-section">
            <h2 class="reel-title">Latest <span class="brush_script_font">REEL</span></h2>
            <div class="container">
                <div class="reel-swiper-wrapper">
                    <div class="swiper reel-swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="reel-card">
                                    <img src="{{home_theme_server}}/images/reel1.png" alt="Reel 1">
                                    <div class="play-btn-bg">
                                        <div class="play-btn">
                                            <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="reel-card">
                                    <img src="{{home_theme_server}}/images/reel2.png" alt="Reel 2">
                                    <div class="play-btn-bg">
                                        <div class="play-btn">
                                            <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="reel-card">
                                    <img src="{{home_theme_server}}/images/reel3.png" alt="Reel 3">
                                    <div class="play-btn-bg">
                                        <div class="play-btn">
                                            <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="reel-card">
                                    <img src="{{home_theme_server}}/images/reel4.png" alt="Reel 4">
                                    <div class="play-btn-bg">
                                        <div class="play-btn">
                                            <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="reel-card">
                                    <img src="{{home_theme_server}}/images/reel5.png" alt="Reel 5">
                                    <div class="play-btn-bg">
                                        <div class="play-btn">
                                            <img src="{{home_theme_server}}/images/blog_play.png" alt="Play Button">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-button-prev reel-prev">&#10094;</div>
                    <div class="swiper-button-next reel-next">&#10095;</div>
                </div>
            </div>
        </section>

    </div>
    <!-- Wrapper end-->
{% endblock %}

{% block script %}
  <script>
    $(".tavel-menu").addClass("header-border");
    setTimeout(function() {
      $(".tavel-menu").addClass("active");
    }, 100);
    const reelSwiper = new Swiper('.reel-swiper', {
        slidesPerView: 4,
        spaceBetween: 20,
        navigation: {
            nextEl: '.reel-next',
            prevEl: '.reel-prev',
        },
        breakpoints: {
            320: { slidesPerView: 1, spaceBetween: 10 },
            576: { slidesPerView: 2, spaceBetween: 15 },
            768: { slidesPerView: 3, spaceBetween: 20 },
            992: { slidesPerView: 4, spaceBetween: 20 },
        },
        loop: true,
    });

     

  </script> 
{% endblock %}
