<section class="about-section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-section">
                <div class="text-top">
                    <span class="badge mb-3" >ABOUT</span>
                    <h4 class="">
                        <span class='about-hello'>Hello,</span> <span class="about-name brush-font">I’M <span style='color: #D81251;'>MAISUN</span></span>
                    </h4>
                </div>

                <div class="image-wrapper d-md-none my-4">
                    <img src="{{home_theme_server}}/images/about-maisun.png" alt="Maisun" class="img-fluid person-image">
                </div>

               
                <div class="text-bottom">
                    <p class="mt-3">
                        Many know me as an educational content creator who makes English a tad bit easier to learn. 
                        My goal is simple: make learning less intimidating and more empowering, because there is no limit to learning. 
                        The more you know—the more powerful you are.
                    </p>
                    <p>
                        Through my content, I aim to break down complex concepts into simple practical lessons that anyone can understand—
                        regardless of their background or starting point.
                    </p>
                    <p>
                        My mission is to bridge that gap by offering lessons that are not only informative but also relatable and engaging. 
                        I want learners to feel seen, heard, and capable.
                    </p>
                    <a href="#" class="btn btn-dark-blue mt-3">Learn more</a>
                </div>
            </div>

            <!--  (desktop only) -->
            <div class="col-md-6 text-center d-none d-md-block">
                <div class="image-wrapper">
                     <img src="{{home_theme_server}}/images/about-maisun.png" alt="Maisun" class="img-fluid person-image">
                </div>
            </div>
        </div>
    </div>
</section>
