<section class="achievements-section text-center">
  <div class="container">
    
    <p class="badge mb-2"> MY MILESTONES</p>
    <h1>Achievements & <span class='brush-font cerise-red'>RECOGNITION</span></h1>
    <h5 class=" mb-5">A journey marked by achievements and success</h5>

    <div class="achievements-grid">
  <div class="achievement-img item1">
    <img src="{{home_theme_server}}/images/achievement1.jpg" alt="Achievement 1">
  </div>

  <!-- this is the middle big image (spans 2 rows on large screens) -->
  <div class="achievement-img item2">
    <img src="{{home_theme_server}}/images/achievement3.jpg" alt="Achievement 3">
  </div>

  <div class="achievement-img item3">
    <img src="{{home_theme_server}}/images/achievement4.jpg" alt="Achievement 4">
  </div>

  <div class="achievement-img item4">
    <img src="{{home_theme_server}}/images/achievement5.jpg" alt="Achievement 5">
  </div>

  <div class="achievement-img item5">
    <img src="{{home_theme_server}}/images/achievement2.png" alt="Achievement 2">
  </div>
</div>


    <!-- Media Logos -->
    <div class="media-logos d-flex flex-wrap justify-content-center align-items-center">
      <img src="{{home_theme_server}}/images/daily_star.png" alt="Media 1">
      <img src="{{home_theme_server}}/images/channel_i.png" alt="Media 2">
      <img src="{{home_theme_server}}/images/n_tv.png" alt="Media 3">
      <img src="{{home_theme_server}}/images/jamuna_tv.png" alt="Media 4"> 
    </div> 
  </div>
</section>