
<section class="contact-section py-5">
   <div class="container ">
        <div class="text-top text-center">
            <span class="badge mb-3">CONTACT</span>
            <h1 class="">
                <span class=''>LET'S</span> <span class='cerise-red brush-font'>TALK</span>
            </h1>
        </div>
        <div class="contact-wrapper">
            
            <div class="contact-image">
            <img src="{{home_theme_server}}/images/contact-bg.jpg" alt="Contact Person">
            </div>
            
            <div class="contact-form">
                <h2 class="mb-3 text-start">I'm here to help</h2>
                <p class="text-muted text-start">Contact us to explore how we can work together.</p>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-md-6">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter your phone number">
                        </div>
                        <div class="col-md-6">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Enter subject">
                        </div>
                        <div class="col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea id="message" name="message" class="form-control" rows="3" placeholder="Type your message"></textarea>
                        </div>
                        <div class="col-12 text-start">
                            <button type="submit" class="btn btn-dark-blue">Send</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>