SECRET_KEY='@#0g@)a!9-1w(5e4cf2n^gr=kdh=jci6w4kg!m-wg6#p!hft1o'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,178.128.57.178
DB_NAME=maisun_db
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
MAIN_SERVER=178.128.57.178
CSRF_ORIGINS=http://178.128.57.178
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEV_OS="windows"
DJANGO_LOG_LEVEL='ERROR'
LOG_LEVEL='DEBUG'
APP_NAME="Maisun World"
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe