<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{app_name}} - Change Password </title>
    <meta name="description" content="Department of Films and Publications">
    <meta name="author" content="MidDayDreams" />
	<meta name="keywords" content="dfp,MidDayDreams">

    <!-- Favicon -->
    <link rel="icon" href="{{static_server}}/img/favicon.ico" type="image/x-icon">

    {% comment %} <!-- Main Theme Js -->
    <script src="{{static_server}}/js/authentication-main.js"></script> {% endcomment %}

    <!-- Bootstrap Css -->
    <link id="style" href="{{static_server}}/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Style Css -->
    <link href="{{static_server}}/css/styles.min.css" rel="stylesheet" >
    <link href="{{static_server}}/css/notify.css" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="{{static_server}}/css/icons.min.css" rel="stylesheet" >
    <!-- jQuery Confirm CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
		

    <style>
        @font-face{
            src:"url(/static/main-theme/fonts/kalpurush.ttf)";
            font-family:kalpurush;
            unicode-range: U+980-9FF;
        }
        *, body{
            font-family: kalpurush, serif !important;
        }
        h1, h2, h3, h4, h5, h6{
            font-family: kalpurush, serif;
        }
        .input-container {
            position: relative;
            width: 100%;
        }

        .input-container #lock-icon, .input-container #eye-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 12px;
            color: #aaa;
        }
        .input-container #eye-icon {
            right: 10px;
            cursor: pointer;
            font-size: 1.4rem;
            color: #333;
        }

       
        .spinner {
            display: inline-block;
            width: 13px;
            height: 13px;
            border: 3px solid #dfdfdf;
            border-radius: 50%;
            border-top-color:#747171;
            animation: spin 1s infinite linear;
        }

		.green-btn {
			background-color: rgba(1, 146, 62, 1) !important;
			border: none !important;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
			color: #fff !important;
		}

		.green-btn:hover,
		.green-btn:focus, 
		.green-btn:active {
			background-color: rgba(1, 116, 50, 1) !important;
		}

		.nav.nav-style-3 .nav-link.active {
			background-color: transparent !important;
			border-block-end: 3px solid rgba(1, 146, 62, 1);
			color: rgba(1, 146, 62, 1) !important;
		}
		.nav-link:focus, .nav-link:hover{
			color: rgba(1, 146, 62, 1) !important;
		}

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
        

        @media screen and (max-width:480px) {
          
           
        }


        @media (max-width: 600px) {
            
        }

    </style>
</head>

<body class="error-page1" style="background-image: url('{{home_theme_server}}/assets/images/dfpfooter.png');">
        <div class="bg-svg">
			<div class="page" >
				<div class="z-index-10">
					<div class="container">
						<div class="row">
							<div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10 py-4 justify-content-center mx-auto my-auto">
								<div class="card-sigin">
                  					{% csrf_token %}
									<!-- Demo content-->
									<div class="main-card-signin">
										<div class="wd-100p">
                                            <div class="d-flex justify-content-center">
												<a href="{% url 'core:home' %}">
													<img src="{{static_server}}/img/bd-gov.png" class="sign-favicon logo-dark" alt="logo" style="width: 60px; height: auto; display: block;">
												</a>
											</div>
											<div class="mt-3">
												<h2 class="fw-bold text-center pb-3">চলচ্চিত্র ও প্রকাশনা অধিদপ্তর</h2>
												
												<div class="dfp-otp-div">
													<div class="otp-text-icon d-flex align-items-center gap-2" style="justify-content: left;">
														<img src="{{static_server}}/img/mobile-banking.png" alt="" style="width: 10%; height: auto; display: block;">
														<p style="font-size: 1rem; color: rgba(0, 0, 0, 1); margin-bottom: 0;">পাসওয়ার্ড পরিবর্তন করতে ওটিপি প্রেরণ করুন</p>
													</div>
													<div class="nav nav-pills  gx-3 nav-style-3 scaleX mt-2">
														<div class="panel-head">
															<ul class="nav ps-0 d-block d-sm-flex">
																<li class="nav-item"><a class="nav-link fs-14 fw-bold text-sm-center text-start active" data-medium="Email" data-bs-toggle="tab" href="#signinTab1">ইমেইল</a></li>
																<li class="nav-item"><a class="nav-link fs-14 fw-bold text-sm-center text-start" data-bs-toggle="tab" data-medium="mobile_no" href="#signinTab2">মোবাইল নাম্বার</a></li>
															</ul>
														</div>
													</div>
													<div class="panel-body p-0">
														<div class="tab-content mt-3">
																	<div class="tab-pane p-0 border-0 active" id="signinTab1">
																	<div class="form-group mb-3">
																		<input class="form-control" id='otp_email' placeholder="ইমেইল" type="email">
																	</div>
																</div>
																<div class="tab-pane p-0 border-0" id="signinTab2">
																	<div id="mobile-num" class="input-group mb-3">
																		
																		<input class="form-control" type="number"  min="0" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')" id="otp_mbl" 
																		name="otp_mbl"  placeholder="01xxxxxxxxx" type='number'>
																	</div>
																</div>
																<div class="d-grid">
																	<button id="otp_sending_button" class="btn green-btn btn-block otp_sending_button">
																		<b class="spinner-title">সাবমিট</b><span class="spinner" style="display: none;"></span>
																	</button> 
																	<span class="spinner" style="display: none;"></span>
																</div>
															<div class="mt-3 text-center">
																<p class="mb-0">লগ ইন এ ফেরত যেতে&nbsp;<a id="back-to-login-btn" href="{% url 'user:login' %}" style="text-decoration: none; color:rgba(1, 146, 62, 1); font-weight: 600;">এখানে ক্লিক করুন&nbsp;</a></p>
															</div>
														</div>
													</div>
												</div>
												<div class="dfp-otp-submit-div" style="display: none;">
													<div class="row justify-content-center">
														<h4 class="fw-bold py-4" style="font-size: 1.1rem; font-weight: bold; color:green;"><b style="color:black;" id="num-email-got-otp"></b>&nbsp;-এ প্রদানকৃত ওটিপি সাবমিট করুন</h4>
														{% csrf_token %}
														<form>
															<div class="col-sm-12 pb-4">
																<input min="0" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')" id="sent_otp_number" 
																name="sent_otp_number" type="number" class="form-control" placeholder="এখানে ওটিপি নম্বর লিখুন">
															</div>
															<button class="btn-primary btn-block otp_submit_button btn " style="background-color: #2c2b2b;">
																<b>ওটিপি সাবমিট করুন</b>
															</button>
														</form>
														<div class="col-sm-12 text-center pt-2">
															<p id="timer">03:00</p>
														</div>
														<div class="col-sm-12 text-center change-otp-method-div pt-2" style="display: none;">
															ওটিপি প্রেরণের মাধ্যম পরিবর্তন করতে&nbsp;<a id="change-otp-method-btn" href="" style="text-decoration: none; color:green; font-weight: 600;">এখানে ক্লিক করুন&nbsp;<i class="bi bi-arrow-right" aria-hidden="true"></i></a>
														</div>
													</div>
												</div>

												<div class="forgot-password-otp-submit-part" style="display: none;">
													<div class="row justify-content-center">
														<h4 class="fw-bold py-4" style="font-size: 1.1rem; font-weight: bold; color:green;"><b style="color:black;" id="num-email-got-otp"></b>&nbsp;
															আপনার মোবাইল নম্বর/ইমেইলে প্রেরণকৃত ওটিপি প্রদান করুন</h4>
															<form>
																{% csrf_token %}
																<div class="col-sm-12 pb-4">
																	<input type="hidden" name="login_otp_user_id" id="login_otp_user_id">
																	<input min="0" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')" id="sent_otp_number_login" 
																	name="sent_otp_number_login" type="number" class="form-control" placeholder="এখানে ওটিপি নম্বর লিখুন">
																</div>
															</form>
														<button id="submit-forget-passowrd-otp" type="submit" class="btn btn-primary d-flex align-items-center justify-content-center submit-forget-passowrd-otp">
																<b class="spinner-title">সাবমিট করুন</b><span class="spinner" style="display: none;"></span>
														</button>
														<div class="col-sm-12 text-center" style="padding-top: 1rem;">
															<p class="timer" style="margin-bottom: 0;">02:00</p>
														</div>
														<div class="col-sm-12 text-center change-otp-method-div pt-2" style="display: none;">
															ওটিপি প্রেরণের মাধ্যম পরিবর্তন করতে&nbsp;<a id="change-otp-method-btn" href="" style="text-decoration: none; color:green; font-weight: 600;">এখানে ক্লিক করুন&nbsp;<i class="bi bi-arrow-right" aria-hidden="true"></i></a>
														</div>
													</div>
												</div>
												<div class="forget-pass-submit-part" style="display: none;">
													<div class="row justify-content-center">
														<h4 class="fw-bold py-4" style="font-size: 1.1rem; font-weight: bold; color:green; text-align: center;"><b style="color:black;" id="num-email-got-otp"></b>&nbsp;
															পাসওয়ার্ড পরিবর্তন করুন</h4>
													<p>পাসওয়ার্ডে কমপক্ষে ৮ টি ক্যারেক্টার থাকতে হবে; অন্তত একটি সংখ্যা ও অক্ষর থাকতে হবে; বিশেষ চিহ্নসমূহ (যেমন-$,&,@ ইত্যাদি) ব্যবহারযোগ্য</p>
															<form>
																{% csrf_token %}
																<div class="col-sm-12 pb-4">
																	<input type="hidden" name="newspaper_login_user_id" id="newspaper_login_user_id">
																	<div class="password-wrapper" style="position: relative;" >
																			<input class="form-control" type="password" name="forget_password" id="forget_password" placeholder="পাসওয়ার্ড (কমপক্ষে ৮ ক্যারেকটার)" required>
																			
																			<i class="bi bi-eye pass_eye" style="color:#656464; position: absolute; right: 14px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
																	</div>
																	<br/>
																	<div class="confirm-password-wrapper" style="position: relative;">
																			<input class="form-control" type="password" name="forget_password_confirm" id="forget_password_confirm" placeholder="পাসওয়ার্ড নিশ্চিত করুন" required>
																			<i class="bi bi-eye confirm_pass_eye" style="color:#656464; position: absolute; right: 14px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
																	</div>
																</div>
															</form>
														<button id="password-change-submit-button" type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
															<b class="spinner-title">সাবমিট করুন</b><span class="spinner" style="display: none;"></span>
														</button>
													</div>
												</div>
                      						</div>
										</div>
									</div>
								</div>
							 </div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Bootstrap JS -->
    <script src="{{static_server}}/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% comment %} 
    <script src="{{static_server}}/js/authentication.js"></script> {% endcomment %}
    <script src="{{static_server}}/js/notify.js"></script>
   
    <script src="{{static_server}}/js/jquery.min.js"></script>
    <!-- jQuery Confirm CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script>

        var notyf = new Notyf({
            duration:4000
        });

        function successMessage(message_) {
            notyf.success(message_);
        }

        function errorMessage(message_) {
            notyf.error(message_);
        }

        function resetFields(){
            $("#input").val("");
            $("#action").val("save");
        }

				function spinnerShow(button) {
						const $button = $(button);
						const $spinnerTitle = $button.find('.spinner-title');
						const $spinner = $button.find('.spinner');

						$spinnerTitle.hide();
						$spinner.show();

						$button.prop('disabled', true);
				}

				function spinnerHide(button) {
						const $button = $(button);
						const $spinnerTitle = $button.find('.spinner-title');
						const $spinner = $button.find('.spinner');

						$spinnerTitle.show();
						$spinner.hide();

						$button.prop('disabled', false);
				}

        $(document).ready(function(){
					$('#change-otp-method-btn').click(function(e) {
						e.preventDefault();
						$(".dfp-otp-div").slideDown(500);
						$(".dfp-otp-submit-div").slideUp(500);
						$(".change-otp-method-div").hide();
						$(".back-to-login-btn-div").show();
						$("dfp-otp-spinner").hide();
					});

					$('.pass_eye').on('click', function () {
						let passwordField = $('#forget_password');
						let type = passwordField.attr('type') === 'password' ? 'text' : 'password';
						passwordField.attr('type', type);

						$(this).toggleClass('bi-eye bi-eye-slash');
					});

					$('.confirm_pass_eye').on('click', function () {
							let confirmPasswordField = $('#forget_password_confirm');
							let type = confirmPasswordField.attr('type') === 'password' ? 'text' : 'password';
							confirmPasswordField.attr('type', type);

							$(this).toggleClass('bi-eye bi-eye-slash');
					});

			
				var timerDuration = 30;
				var timer;

				function startTimer(duration, display, option) {
							var start = Date.now(),
									diff,
									minutes,
									seconds;

							function timerFunction() {
									diff = duration - (((Date.now() - start) / 1000) | 0);

									minutes = (diff / 60) | 0;
									seconds = (diff % 60) | 0;

									minutes = minutes < 10 ? "0" + minutes : minutes;
									seconds = seconds < 10 ? "0" + seconds : seconds;

									display.text(minutes + ":" + seconds);
									
									if (diff <= 0) {
											start = Date.now() + 1000;
											clearInterval(timer);

											if(option === 'login') {
													display.html('<a class="otp_sending_button" style="text-decoration: none; color: black; font-weight: 500; font-size: 1rem; cursor: pointer;">&nbsp;পুনরায় ওটিপি প্রেরণ করুন&nbsp;</a>');
											} else if(option === 'forget_pass') {
													display.html('<a class="forget-password-otp-channel-submit" style="text-decoration: none; color: black; font-weight: 500; font-size: 1rem; cursor: pointer;">&nbsp;পুনরায় ওটিপি প্রেরণ করুন&nbsp;</a>');
											}
											$(".change-otp-method-div").show();
									}
							}

							timerFunction();
							timer = setInterval(timerFunction, 1000);
					}

				let receiver = '';
				let medium = '';
				let otp_sending_button_clicked = false;

				$(document).on('click', '.otp_sending_button', function(e){
					e.preventDefault();
					
					if (otp_sending_button_clicked){
						return;
					}

					otp_sending_button_clicked = true;
					const $otpSendingButton = $(this);

					if (($otpSendingButton).prop("disabled")){
							return;
					}

					$otpSendingButton.prop("disabled", true);
					let activeTab = $('.nav-link.active');
					let medium_ = activeTab.data('medium'); 
					let receiver = '';
					let medium = '';

					if( medium_ === 'Email'){
						const otp_email_address =  $('#otp_email').val().trim();
						receiver = otp_email_address;

						if (!otp_email_address){
							errorMessage("ওটিপি প্রেরণের জন্য অনুগ্রহপূর্বক ইমেইল প্রদান করুন");
							otp_sending_button_clicked = false;
							$otpSendingButton.prop("disabled", false);
							return;
						}

						receiver = otp_email_address;
						medium = 'email';

						if (otp_email_address){
							if (/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
								.test(otp_email_address) == false) {
									errorMessage("প্রদানকৃত ই-মেইল এড্রেসটি সঠিক নয়");
									otp_sending_button_clicked = false;
									$otpSendingButton.prop("disabled", false);
								return;
							}
						}
					} else{
						const otp_mbl_number = $("#otp_mbl").val().trim();

						if ( !otp_mbl_number){
							errorMessage("ওটিপি প্রেরণের জন্য অনুগ্রহপূর্বক মোবাইল নম্বর প্রদান করুন");
							$otpSendingButton.prop("disabled", false);
							otp_sending_button_clicked = false;
							return;
						}

						receiver = otp_mbl_number;
						medium = 'sms';

						if (otp_mbl_number){
							if (otp_mbl_number.length != 11){
								errorMessage("১১ ডিজিটের মোবাইল নম্বর প্রদান করুন");
								$otpSendingButton.prop("disabled", false);
								otp_sending_button_clicked = false;
								return;
							}

							if (!otp_mbl_number.startsWith('01') ){
								errorMessage("মোবাইল নম্বর ০১ দ্বারা শুরু হওয়া আবশ্যক");
								$otpSendingButton.prop("disabled", false);
								otp_sending_button_clicked = false;
								return;
							}
						}
					}

					$("#num-email-got-opt").text(receiver);
					const csrf_token = $('input[name="csrfmiddlewaretoken"]').eq(0).val();

					const otp_form_fields = {
						csrfmiddlewaretoken: csrf_token,
						receiver: receiver,
						medium: medium
					};

					$("dfp-otp-title").hide();
					$("dfp-otp-spinner").show();
					spinnerShow($otpSendingButton);

					$.post("{% url 'user:send_password_reset_otp' %}", otp_form_fields, function(data) {
						if (data.message === 1) {
							successMessage("সফলভাবে ওটিপি প্রেরণ করা হয়েছে");
							$(".dfp-login-div").slideUp(500);
							$(".dfp-otp-div").slideUp(500);
							$(".dfp-otp-submit-div").slideDown(500);
							$(".back-to-login-btn-div").hide();
							clearInterval(timer);
							var display = $('#timer');
							startTimer(timerDuration, display);
							spinnerHide($otpSendingButton);
							$otpSendingButton.prop("disabled", false);
							return;
						} else if (data.status == 2) {
								successMessage(`প্রদানকৃত ওটিপি সাবমিট করুন`);
								$("#login_otp_user_id").val(data.newspaper_user_id);
								$(".dfp-otp-div").slideUp(500);
								$(".forgot-password-otp-submit-part").slideDown(500);
								clearInterval(timer);
								let display = $('.timer');
								startTimer(timerDuration, display, 'login');
								otp_sending_button_clicked = false;
								spinnerHide($otpSendingButton);
								$otpSendingButton.prop("disabled", false);
								return;
						} else if (data.message === 404) {
							$("dfp-otp-title").show();
							$("dfp-otp-spinner").hide();
							errorMessage("উক্ত মোবাইল নম্বর/ইমেইল এর বিপরীতে কোন ইউজার নেই");
							spinnerHide($otpSendingButton);
							$otpSendingButton.prop("disabled", false);
							return;
						}else if (data.message === 103) {
							$("dfp-otp-title").show();
							$("dfp-otp-spinner").hide();
							errorMessage("আপনাকে প্রদানকৃত ডিফল্ট পাসওয়ার্ড ব্যবহার করে লগ ইন করুন");
							setTimeout(() => {
								window.location.href = "{% url 'user:login' %}";
							}, 3000);
							spinnerHide($otpSendingButton);
							$otpSendingButton.prop("disabled", false);
							return;
						}else if (data.message === 101) {
							$("dfp-otp-title").show();
							$("dfp-otp-spinner").hide();
							errorMessage("কারিগরি ত্রুটি এর জন্য ওটিপি প্রেরণ করা যায় নি");
							spinnerHide($otpSendingButton);
							$otpSendingButton.prop("disabled", false);
							return;
						}else if (data.message === 102) {
							$("dfp-otp-title").show();
							$("dfp-otp-spinner").hide();
							errorMessage("আপনি একদিনে পাসওয়ার্ড পরিবর্তন ওটিপি প্রেরণের সর্বোচ্চ সীমা অতিক্রম করেছেন");
							spinnerHide($otpSendingButton);
							$otpSendingButton.prop("disabled", false);
							return;
						}else {
							$("dfp-otp-title").show();
							$("dfp-otp-spinner").hide();
							errorMessage("দুঃখিত কোন ভুল সংঘটিত হয়েছে");
							spinnerHide($otpSendingButton);
							$otpSendingButton.prop("disabled", false);
							return;
						}
					}); 
				});

				let submit_forget_pass_otp_btn_clicked = false;

        $(".submit-forget-passowrd-otp").click(function (e) {
            e.preventDefault();

            if (submit_forget_pass_otp_btn_clicked) {
                return;
            }

            const $forgetPassOtpSubmitButton = $(this);

            if (($forgetPassOtpSubmitButton).prop("disabled")){
                return;
            }

            const forget_pass_otp_no = $("#sent_otp_number_login").val();

            if(!forget_pass_otp_no) {
                errorMessage("লগইনের জন্য ওটিপি নম্বর লিখুন");
                return;
            }

            $forgetPassOtpSubmitButton.prop("disabled", true);
            const token = $('input[name="csrfmiddlewaretoken"]').eq(0).val();
            submit_forget_pass_otp_btn_clicked = true;
            const login_otp_user_id = $('#login_otp_user_id').val();

            const form_fields = {
                forget_pass_otp_no: forget_pass_otp_no,
                csrfmiddlewaretoken: token,
                login_otp_user_id: login_otp_user_id
            };

						spinnerShow($forgetPassOtpSubmitButton);

            $.post("{% url 'user:forgot_pass_otp_submit' %}", form_fields, function (data) {
                if (data.status === 1) {
                    successMessage(`পাসওয়ার্ড পরিবর্তন করুন`);
                    $("#newspaper_login_user_id").val(data.newspaper_user_id);
										$(".forgot-password-otp-submit-part").slideUp(500);
										$(".forget-pass-submit-part").slideDown(500);
                    $forgetPassOtpSubmitButton.prop("disabled", false);
                    submit_forget_pass_otp_btn_clicked = false;
										spinnerHide($forgetPassOtpSubmitButton);
                    return;
                } else if (data.status === 2) { 
                    errorMessage(`ওটিপি কোডটি সঠিক নয় কিংবা ইতিমধ্যে ব্যবহৃত হয়েছে`);
                    $forgetPassOtpSubmitButton.prop("disabled", false);
                    submit_forget_pass_otp_btn_clicked = false;
										spinnerHide($forgetPassOtpSubmitButton);
                    return;
                } else if (data.status === 3) { 
                    errorMessage(`ব্যবহারের সময়সীমা অতিক্রম করায় এই ওটিপি কোডটি আর ভ্যালিড নয়`);
                    $forgetPassOtpSubmitButton.prop("disabled", false);
                    submit_forget_pass_otp_btn_clicked = false;
										spinnerHide($forgetPassOtpSubmitButton);
										$forgetPassOtpSubmitButton.prop("disabled", true);
                    return;
                } else {
                    errorMessage(`দুঃখিত, কোন ভুল সংঘটিত হয়েছে`);
                    $forgetPassOtpSubmitButton.prop("disabled", false);
                    submit_forget_pass_otp_btn_clicked = false;
										spinnerHide($forgetPassOtpSubmitButton);
                    return;
                }
            });
        });

				let submit_forget_pass_btn_clicked = false;

        $("#password-change-submit-button").click(function (e) {
            e.preventDefault();

            if (submit_forget_pass_btn_clicked) {
                return;
            }

            const $passChangeSubmitButton = $(this);

            if (($passChangeSubmitButton).prop("disabled")){
                return;
            }

            const newspaper_login_user_id = $("#newspaper_login_user_id").val();
            const forget_password = $("#forget_password").val();
            const forget_password_confirm = $("#forget_password_confirm").val();
            const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*()_+\-=\[\]{}|;:'",.<>/?\\`~]{8,}$/;

            if(forget_password.length < 8){
                errorMessage("পাসওয়ার্ডে কমপক্ষে ৮ টি ক্যারেক্টার থাকতে হবে");
                return;
            }

            if (!(passwordRegex.test(forget_password_confirm))){
                errorMessage('পাসওয়ার্ডে অন্তত একটি সংখ্যা ও অক্ষর থাকতে হবে। বিশেষ চিহ্নসমূহ (যেমন-$,&,@ ইত্যাদি) ব্যবহারযোগ্য');
                return;
            }

            if(forget_password_confirm.length === 0){
                errorMessage("পাসওয়ার্ড নিশ্চিত করুন");
                return;
            }

            if(forget_password !== forget_password_confirm){
                errorMessage("নিশ্চিতকৃত পাসওয়ার্ড এবং নতুন পাসওয়ার্ড একই হওয়া আবশ্যক");
                return;
            }

            $passChangeSubmitButton.prop("disabled", true);
            const token = $('input[name="csrfmiddlewaretoken"]').eq(0).val();
            submit_forget_pass_btn_clicked = true;
            const news_reg_user_id = $('#news_reg_user_id').val();

            const form_fields = {
                newspaper_login_user_id: newspaper_login_user_id,
                csrfmiddlewaretoken: token,
                new_password: forget_password,
                confirm_new_password: forget_password_confirm
            };

            spinnerShow($passChangeSubmitButton);

            $.post("{% url 'user:password_change' %}", form_fields, function (data) {
                if (data.status === 1) {
                    successMessage(`পাসওয়ার্ড পরিবর্তন সফল হয়েছে। `);
                    window.location.href = "{% url 'dashboard:index' %}";
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                } else if (data.status === 2) { 
                    successMessage(`পাসওয়ার্ড নিশ্চিত করুন`);
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                } else if (data.status === 3) { 
                    successMessage(`পাসওয়ার্ড নিশ্চিত করুন`);
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                } else if (data.status === 4) { 
                    successMessage(`পাসওয়ার্ডে কমপক্ষে ৮ টি ক্যারেক্টার থাকতে হবে`);
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                } else if (data.status === 5) { 
                    successMessage(`নিশ্চিতকৃত পাসওয়ার্ড এবং নতুন পাসওয়ার্ড একই হওয়া আবশ্যক`);
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                } else if (data.status === 404) { 
                    successMessage(`উক্ত মোবাইল নম্বর/ইমেইল এর বিপরীতে কোন ইউজার নেই`);
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                } else if (data.status === 3) { 
                    successMessage(`ব্যবহারের সময়সীমা অতিক্রম করায় এই ওটিপি কোডটি আর ভ্যালিড নয়`);
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                } else {
                    errorMessage(`দুঃখিত, কোন ভুল সংঘটিত হয়েছে...`);
                    $passChangeSubmitButton.prop("disabled", false);
                    submit_forget_pass_btn_clicked = false;
										spinnerHide($passChangeSubmitButton);
                    return;
                }
            });
        });
      });
  </script>
</body>
</html>